<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <title>{{ site.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="HazardWorks (https://twitter.com/HazardWorks)">
    <meta name="theme-color" content="#{{ site.color }}">
    <meta name="description" content="{{ site.slogan }}">
    <!-- OpenGraph Tags -->
    <!-- Twitter Tags -->
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Custom Assets -->
    <link rel="stylesheet" href="/assets/stylesheet.css">
</head>

<body class="">
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="/assets/logo.png" height="65px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span><i class="fas fa-tags"></i> Fursuit Pricing</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span><i class="fas fa-images"></i> Portfolio</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span><i class="fas fa-notes-medical"></i> Care Guide</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span><i class="fas fa-child"></i> DTD Tutorial</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span><i class="fas fa-shopping-cart"></i> How To Order/Terms</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span><i class="fas fa-palette"></i> Reference/Design Artists</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="text-center container">
    <h1 class="display-4 text-danger">Closed for Quotes/Commissions!</h1>
    <div class="row text-left">
        <div class="col-md-4">
            <p class="lead">
            Hello all! Welcome to SplinterFox!
            <br><br>
            Our main objective in this business is to construct creative critters, 
            and provide reliable customer service! Each costume is handcrafted and unique. 
            We hope we get to work with you soon!
            <br><br>
            Thanks again,
            <br>
            Sirus Coyote & Darkstory Dragon
            </p>
        </div>
        <div class="col-md-8">
            <img src="/assets/homepage.artwork.webp" width="100%">
        </div>
    </div>
</div>
<div id="nav-footer" class="bg-secondary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Contact Us</h3>
                <hr>
                <p><i class="fab fa-twitter"></i> <a href="https://twitter.com/Splinter_Fox">Splinter_Fox</a></p>
                <p><i class="fab fa-instagram"></i> <a href="https://instagram.com/SplinterFox">SplinterFox</a></p>
                <p><i class="fab fa-facebook"></i> <a href="https://www.facebook.com/SplinterFoxProductions/">SplinterFox Productions</a></p>
                <p><i class="fas fa-paw"></i> <a href="https://www.furaffinity.net/SplinterFoxProductions/">SplinterFoxProductions</a></p>
            </div>
            <div class="col-md-4">
                <h3>Pages</h3>
                <hr>
                <ul>
                    <li><a href="#">Fursuit Pricing</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Care Guide</a></li>
                    <li><a href="#">DTD Tutorial</a></li>
                    <li><a href="#">How To Order/Terms</a></li>
                    <li><a href="#">Reference/Design Artists</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Find Us On Facebook</h3>
                <hr>
                <iframe frameborder="0" src="https://www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/SplinterFoxProductions/&colorscheme=light&show_faces=true&border_color&stream=false&header=false&height=258"></iframe>
            </div>
        </div>
    </div>
</div>
<footer class="bg-dark text-white text-center">
    <span>© Splinter Fox Productions 2013-2016</span>
</footer>
<div id="developer-notes" class="bg-warning text-dark">
    <div class="container">
        <h3 class="lead">Hello SplinterFox Productions,</h3>
        <p>This is only a demonstration version of the site without any knowledge going into this project
        of what you would like designed. In the future, I would be more than happy to colaborate and make
        this into the best website possible with even option blog posts, online support tickets and more
        as time progresses. This was just a quick thing whipped up in about 2 hours and I hope you see
        the potential that I do.</p>
        <p>Very few of my own resources and licensed content has been implemented into the website as of
        this time. This is something that, once again, I would be happy to discuss with you!</p>
        <span>- Hazard Works (https://twitter.com/HazardWorks)</span>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://kit.fontawesome.com/e9b4389e83.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</html>